# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ui/adddialog.cpp
/ui/adddialog.h
/ui/adddialog.ui
/ui/adminwindow.cpp
/ui/adminwindow.h
/ui/adminwindow.ui
/ui/adoptdog.cpp
/ui/adoptdog.h
/ui/adoptdog.ui
/ui/chart.cpp
/ui/chart.h
/ui/chart.ui
/CMakeLists.txt
/controller/controller_admin.cpp
/controller/controller_admin.h
/controller/controller_user.cpp
/controller/controller_user.h
/ui/displaydogs.cpp
/ui/displaydogs.h
/ui/displaydogs.ui
/domain/domain.cpp
/domain/domain.h
/ui/htmlorcsv.cpp
/ui/htmlorcsv.h
/ui/htmlorcsv.ui
/main.cpp
/ui/mainwindow.h
/ui/mainwindow.cpp
/ui/mainwindow.ui
/repo/repo.cpp
/repo/repo.h
/ui/updatedialog.cpp
/ui/updatedialog.h
/ui/updatedialog.ui
/ui/userwindow.cpp
/ui/userwindow.h
/ui/userwindow.ui
